{{>head}}
	{{>menu}}
	{{>fullimage imgsrc='img/img4.jpg'}}
	<div class="whitecontainer">
		<h1 class="whitecontainer__title">Experience</h1>
		<div class="whitecontainer__box">
			<h2>Senior Front End Engineer - Prodigious Latin America</h2>
			<h3>October 2015 to present</h3>
			<p>Nescius malis eram si malis, elit de officia, quibusdam summis pariatur appellat se litteris ad legam, irure ubi offendit do te irure nescius comprehenderit, mandaremus eram ullamco e eu esse malis in officia. Quae vidisse expetendis se quem litteris ubi despica.</p>
		</div>
		<div class="whitecontainer__box">
			<h2>Web Developer Analyst - Accenture</h2>
			<h3>November 2014 - October 2015</h3>
			<p>Nescius malis eram si malis, elit de officia, quibusdam summis pariatur appellat se litteris ad legam, irure ubi offendit do te irure nescius comprehenderit, mandaremus eram ullamco e eu esse malis in officia. Quae vidisse expetendis se quem litteris ubi despica.</p>
		</div>
		<div class="whitecontainer__box">
			<h2>Web Developer Teacher - Cyber U</h2>
			<h3>November 2014 - January 2015</h3>
			<p>Nescius malis eram si malis, elit de officia, quibusdam summis pariatur appellat se litteris ad legam, irure ubi offendit do te irure nescius comprehenderit, mandaremus eram ullamco e eu esse malis in officia. Quae vidisse expetendis se quem litteris ubi despica.</p>
		</div>
		<div class="whitecontainer__box">
			<h2>Backend and Frontend Web Developer - Darwin Zone</h2>
			<h3>July 2013 - November 2014</h3>
			<p>Nescius malis eram si malis, elit de officia, quibusdam summis pariatur appellat se litteris ad legam, irure ubi offendit do te irure nescius comprehenderit, mandaremus eram ullamco e eu esse malis in officia. Quae vidisse expetendis se quem litteris ubi despica.</p>
		</div>
		<div class="whitecontainer__box">
			<h2>Web Developer Lead and Digital Marketing Manager - Grupo CIP</h2>
			<h3>January 2010 - July 2013</h3>
			<p>Nescius malis eram si malis, elit de officia, quibusdam summis pariatur appellat se litteris ad legam, irure ubi offendit do te irure nescius comprehenderit, mandaremus eram ullamco e eu esse malis in officia. Quae vidisse expetendis se quem litteris ubi despica.</p>
		</div>
	</div>
{{>foot}}
