.fullimage {
  font-family: ralewaybold;
  width: 100%; }
  @media screen and (min-width: 1024px) {
    .fullimage {
      float: left;
      height: 100%;
      overflow: hidden;
      position: relative;
      width: calc(50% - 35px); } }
  .fullimage:last-of-type img {
    display: none; }
    @media screen and (min-width: 1024px) {
      .fullimage:last-of-type img {
        display: inline-block; } }
  .fullimage img {
    width: 100%; }
    @media screen and (min-width: 1024px) {
      .fullimage img {
        position: absolute;
        height: 100%; } }
  .fullimage h4 {
    background: #DE3926;
    color: white;
    float: left;
    margin: 0;
    padding: 15px;
    width: 50%; }
    @media screen and (min-width: 1024px) {
      .fullimage h4 {
        display: inline-block;
        float: none;
        font-size: 48px;
        margin: 100px 0 0;
        padding: 40px;
        position: relative;
        top: 0;
        width: auto; } }
  .fullimage:nth-of-type(2) h4 {
    text-align: right; }
    @media screen and (min-width: 1024px) {
      .fullimage:nth-of-type(2) h4 {
        position: absolute;
        right: 0;
        text-align: left; } }
  @media screen and (min-width: 1024px) {
    .fullimage:nth-of-type(3) h4 {
      background: #222; } }
  .fullimage h2 {
    background: #222;
    color: white;
    clear: both;
    text-align: center;
    margin: 0;
    padding: 20px 40px; }
    @media screen and (min-width: 1024px) {
      .fullimage h2 {
        background: white;
        color: #222;
        font-size: 30px;
        display: block;
        position: relative;
        text-align: left;
        top: 0;
        width: 70%; } }
  .fullimage__socialbar {
    background: white; }
    @media screen and (min-width: 1024px) {
      .fullimage__socialbar {
        position: absolute;
        bottom: 60px; } }
    .fullimage__socialbar ul {
      margin: 0;
      padding: 0; }
      .fullimage__socialbar ul li {
        display: inline-block;
        float: left;
        list-style: none;
        text-align: center;
        height: 80px;
        width: calc(100% / 5); }
        @media screen and (min-width: 1024px) {
          .fullimage__socialbar ul li {
            border-right: 1px solid #949494;
            float: none;
            width: 80px; } }
        .fullimage__socialbar ul li a {
          color: #222;
          line-height: 80px;
          text-decoration: none; }
          .fullimage__socialbar ul li a:hover {
            color: #DE3926; }
