@import "../global/global";
.menu{
	ul{
		padding: 0;
		.fa{
			background: $dark-gray;
			border-bottom: 1px solid rgba(white,0.4);
			color: white;
			display: block;
			padding: 10px;
			&:first-of-type{
				background: $red;
				border-bottom: 0;
			}
		}
	}
}